@media only screen and (min-width: 750px) {

  header {
    padding-top: 12px;
  }
  
  .header-nav-list {
    justify-content: space-around;
  }
  
  .header-nav-list li a {
    font-size: 2rem;
  }

  .intro__title {
    font-size: 4.5rem;
  }

  .projects__title, .about-me__title, .contact__title {
    font-size: 3rem;
  }

  .about-me__tech-title {
    font-size: 2.5rem;
  }

  .img-main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .img-container {
    margin: 0;
  }
}

@media only screen and (min-width: 1110px) {

  .intro__text {
    font-size: 1.7rem;
  }

  .img-container {
    height: 120px;
  }

  .about-me__text, .about-me__tech-list, .contact__email, .contact__linkedin, .contact__github {
    font-size: 1.7rem;
    line-height: 2.7rem;
  }
}

@media only screen and (min-width: 1330px) {

  .intro__title {
    font-size: 5rem;
  }

  .intro__text {
    font-size: 2rem;
  }

  .img-main-container {
    gap: 20px;
  }

  .img-container {
    width: 375px;
    height: 150px;
  }

  .img-title {
    font-size: 2.3rem;
  }

  .img-text {
    font-size: 1.8rem;
  }

  .projects__title, .about-me__title, .contact__title {
    font-size: 3.5rem;
  }

  .about-me__title, .contact__title, .about-me__tech-title {
    margin-top: 30px;
  }

  .about-me__tech-title {
    font-size: 3rem;
  }

  .about-me__text, .about-me__tech-list, .contact__email, .contact__linkedin, .contact__github {
    font-size: 2rem;
    line-height: 3.5rem;
  }
}

@media only screen and (min-width: 1545px) {
  .img-container {
    width: 400px;
  }
  .about-me__text {
    padding: 0 40px;
  }
}