:root {
  --main-font: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 50px;
  padding-top: 15px;
  background-color: #4E00CC;
  border-bottom: 1px solid white;
}

.header-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.header-nav-list li {
  display: inline-block;
}

.header-nav-list li a {
  text-decoration-line: none;
  font-family: var(--main-font);
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 99vh;
  background-image: linear-gradient(to bottom, #4e00cc, #9400b9, #bd00a5, #da0092, #ed0081, #f61f72, #fc3663, #ff4a55, #ff6948, #ff863f, #ffa13a, #ffbb3e);
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.intro__title {
  font-family: var(--main-font);
  font-size: 3.5rem;
  font-weight: 900;
  color: white;
}

.intro__text {
  font-family: var(--main-font);
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 30px;
}

.projects__title, .about-me__title, .contact__title {
  font-family: var(--main-font);
  font-size: 2.3rem;
  font-weight: 700;
  color: white;
  text-align: center;
}

.img-main-container {
  width: auto;
  margin: 30px auto;
  height: auto;
}
.img-container {
  width: 350px;
  overflow: hidden;
  height: 100px;
  margin: 10px;
  display:block;
  position:relative;
  border-radius: 5px;
}
.img-container img {
  width: 100%;
  transition-duration: .3s;
  max-width: 100%;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
.img-title {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 35%;
  display: none;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  transition-duration: .3s;
}
.img-text {
  position: absolute;
  top: 70%;
  cursor: pointer;
  max-width: 80%;
  text-align: center;
  left: 50%;
  font-family: var(--main-font);
  font-size: 1.4rem;
  display: none;
  margin-right: -50%;
  transition-duration: .3s;
  transform: translate(-50%, -50%) 
}
.img-container:hover img {
  transform: scale(1.2);
  transition-duration: .3s;
  filter: grayscale(50%);
  opacity: .7;
}
.img-container:hover span {
  color: white;
  display: block;
  transition-duration: .3s;
}

.more-projects-button {
  width: 185px;
  height: 44px;
  border-style: none;
  border-radius: 15px;
  border: 1px solid white;
  background-image: linear-gradient(to bottom, #ff4a55, #ff5251, #ff5a4e);
  font-family: var(--main-font);
  font-size: 2rem;
  font-weight: 300;
  color: white;
}

.more-projects-button:hover {
  cursor: pointer;
  font-weight: 500;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 30px;
  padding: 0 30px;
}

.about-me__title, .contact__title {
  margin-bottom: 30px;
}

.about-me__text, .about-me__tech-list, .contact__email, .contact__linkedin, .contact__github {
  margin-bottom: 30px;
  font-family: var(--main-font);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.3rem;
  color: white;
}

.about-me__tech-title {
  margin-bottom: 30px;
  font-family: var(--main-font);
  font-size: 2rem;
  font-weight: 500;
  color: white;
  text-align: center;  
}

.about-me__tech-list {
  margin-bottom: 0;
  text-align: center;
  list-style: none;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 30px;
}

.contact__email {
  margin-bottom: 0; 
}

.contact__linkedin, .contact__github {
  margin-bottom: 0;
  text-decoration-line: none;
}

.contact__linkedin:hover, .contact__github:hover {
  font-weight: 500;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #FFBB3E;
}

footer p {
  padding-top: 30px;
  font-family: var(--main-font);
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
  text-align: center;
}